---
BasedOnStyle: Google
Language: Cpp
Standard: Cpp03
TabWidth: 4
UseTab: Never
ColumnLimit: 120
NamespaceIndentation: All

AccessModifierOffset: -4
ContinuationIndentWidth: 4
IndentWidth: 4

BreakBeforeBraces: Attach

AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

AlignConsecutiveAssignments: true
AlignTrailingComments: true
ReflowComments: false
SortIncludes: false

...
