name: Build the Reference FMUs

on:
  push:
    branches: [ main ]
    tags: [ 'v*' ]
  pull_request:
    branches: [ main ]

env:
  FMPY: https://github.com/CATIA-Systems/FMPy/archive/d9547792af143b9e25f23073cb44a327289e0f5e.zip
  CONDA_PACKAGES: dask lark-parser lxml numpy pathlib pip pytest requests scipy

jobs:

  lint-files:

    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v3

#    - name: Lint files
#      run: python3 lint_files.py

  build-fmusim-windows:
    runs-on: windows-2022
    needs: lint-files
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - uses: s-weigand/setup-conda@v1.1.1
      with:
        conda-channels: conda-forge
    - run: conda --version
    - run: which python
    - run: conda install fmpy-base
    - run: python ThirdParty/build_libxml2.py
    - run: python ThirdParty/build_zlib.py
    - run: cmake -G "Visual Studio 17 2022" -B fmusim/build fmusim
    - run: cmake --build fmusim/build --target install --config Release
    - uses: actions/upload-artifact@v3
      with:
        name: fmusim-windows
        path: fmusim/build/install
        if-no-files-found: error

  build-fmusim-macos:
    runs-on: macos-10.15
    needs: lint-files
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - uses: s-weigand/setup-conda@v1.1.1
        with:
          conda-channels: conda-forge
      - run: conda --version
      - run: which python
      - run: conda install fmpy-base
      - run: python ThirdParty/build_libxml2.py
      - run: python ThirdParty/build_zlib.py
      - run: cmake -B fmusim/build fmusim
      - run: cmake --build fmusim/build --target install --config Release
      - uses: actions/upload-artifact@v3
        with:
          name: fmusim-macos
          path: fmusim/build/install
          if-no-files-found: error

  build-fmusim-linux:
    runs-on: ubuntu-20.04
    needs: lint-files
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - uses: s-weigand/setup-conda@v1.1.1
        with:
          conda-channels: conda-forge
      - run: conda --version
      - run: which python
      - run: conda install fmpy-base
      - run: python ThirdParty/build_libxml2.py
      - run: python ThirdParty/build_zlib.py
      - run: cmake -B fmusim/build fmusim
      - run: cmake --build fmusim/build --target install --config Release
      - uses: actions/upload-artifact@v3
        with:
          name: fmusim-linux
          path: fmusim/build/install
          if-no-files-found: error

#  build-linux:
#
#    runs-on: ubuntu-18.04
#    needs: lint-files
#
#    steps:
#    - uses: actions/checkout@v3
#
#    - name: Check python version
#      run: |
#        python --version
#
#    - name: Set up Python
#      uses: actions/setup-python@v3
#      with:
#        python-version: '3.10'
#
#    - name: Add conda to system path
#      run: |
#        echo $CONDA/bin >> $GITHUB_PATH
#
#    - name: Install dependencies
#      run: |
#        conda install --channel conda-forge $CONDA_PACKAGES
#        python -m pip install --no-deps $FMPY
#
#    - name: Run tests
#      run: |
#        pytest -s -v --junitxml=junit/test-results.xml
#
#    - name: Upload FMUs
#      uses: actions/upload-artifact@v3
#      with:
#        name: Linux-FMUs
#        path: fmus
#        if-no-files-found: error
#
#  build-windows:
#
#    runs-on: windows-2022
#    needs: lint-files
#
#    steps:
#    - uses: actions/checkout@v3
#
#    - name: Check python version
#      run: |
#        python --version
#
#    - name: Install dependencies
#      run: |
#        python -m pip install $env:FMPY pytest scipy
#
#    - name: Run tests
#      run: |
#        pytest -s -v --junitxml=junit/test-results.xml
#
#    - name: Upload FMUs
#      uses: actions/upload-artifact@v3
#      with:
#        name: Windows-FMUs
#        path: fmus
#        if-no-files-found: error
#
#  build-macos:
#
#    runs-on: macos-10.15
#    needs: lint-files
#
#    steps:
#    - uses: actions/checkout@v3
#
#    - name: Check python version
#      run: |
#        python --version
#
#    - name: Set up Python
#      uses: actions/setup-python@v3
#      with:
#        python-version: '3.10'
#
#    - name: Add conda to system path
#      run: |
#        echo $CONDA/bin >> $GITHUB_PATH
#
#    - name: Install dependencies
#      run: |
#        conda install --channel conda-forge $CONDA_PACKAGES
#        python -m pip install --no-deps $FMPY
#
#    - name: Run tests
#      run: |
#        pytest -s -v --junitxml=junit/test-results.xml
#
#    - name: Upload FMUs
#      uses: actions/upload-artifact@v3
#      with:
#        name: macOS-FMUs
#        path: fmus
#        if-no-files-found: error
#
#  merge-fmus:
#
#    runs-on: ubuntu-18.04
#    needs: [build-linux, build-windows, build-macos]
#
#    steps:
#
#    - uses: actions/checkout@v3
#
#    - uses: actions/download-artifact@v3
#      with:
#        name: Linux-FMUs
#        path: fmus
#
#    - uses: actions/download-artifact@v3
#      with:
#        name: macOS-FMUs
#        path: fmus
#
#    - uses: actions/download-artifact@v3
#      with:
#        name: Windows-FMUs
#        path: fmus
#
#    - name: Merge FMUs
#      run: |
#        python3 merge_platform_binaries.py
#
#    - name: Upload FMUs
#      uses: actions/upload-artifact@v3
#      with:
#        name: merged-FMUs
#        path: merged
#        if-no-files-found: error
