name: Build the Reference FMUs

on:
  push:
    branches: [ main ]
    tags: [ 'v*' ]
  pull_request:
    branches: [ main ]

env:
  FMPY: https://github.com/CATIA-Systems/FMPy/archive/d9547792af143b9e25f23073cb44a327289e0f5e.zip
  CONDA_PACKAGES: dask lark-parser lxml numpy pathlib pip pytest requests scipy

jobs:

  lint-files:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v3
    - run: python3 lint_files.py

  build:
    strategy:
      matrix:
        image: [windows-2022, ubuntu-18.04, macos-11]
    runs-on: ${{ matrix.image }}
    needs: lint-files
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - uses: s-weigand/setup-conda@v1.1.1
      with:
        conda-channels: conda-forge
    - run: conda --version
    - run: which python
    - run: conda install fmpy-base pytest scipy
    - run: python ThirdParty/build_cvode.py
    - run: python ThirdParty/build_libxml2.py
    - run: python ThirdParty/build_zlib.py
    - run: python build.py
    - uses: actions/upload-artifact@v3
      with:
        name: ${{ matrix.image }}
        path: fmus
        if-no-files-found: error

  merge-fmus:
    runs-on: ubuntu-18.04
    needs: [build]
    steps:
    - uses: s-weigand/setup-conda@v1.1.1
      with:
        conda-channels: conda-forge
    - run: conda install fmpy-base pytest scipy python-kaleido markdown2 plotly
    - uses: actions/checkout@v3
    - uses: actions/download-artifact@v3
      with:
        name: windows-2022
        path: dist-windows
    - uses: actions/download-artifact@v3
      with:
        name: ubuntu-18.04
        path: dist-linux
    - uses: actions/download-artifact@v3
      with:
        name: macos-11
        path: dist-darwin
    - run: chmod +x dist-linux/fmusim-linux/fmusim

    - run: git status --porcelain --untracked=no
    - run: git tag --contains
    - run: git rev-parse --short HEAD

    - run: python3 merge_binaries.py

    - run: git status --porcelain --untracked=no
    - run: git tag --contains
    - run: git rev-parse --short HEAD

    - uses: actions/upload-artifact@v3
      with:
        name: Reference-FMUs
        path: dist-merged
        if-no-files-found: error
